.searchPasswordButton {
  background-color: #263392;
  color: white;
  cursor: pointer;
  width: 215px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

.button:disabled {
  background-color: gray;
  color: white;
}
