.changePasswordPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changePasswordHeader {
  font-size: 30px;
  padding: 10px;
}

.changePasswordInputWrap {
  margin: 20px;
}

.changePasswordInput {
  padding: 5px;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.changePasswordInput:hover {
  border: 1px solid black;
}

.changePasswordErrorMessageWrap {
  text-align: center;
}

.changePasswordErrorMessage {
  margin: 5px;
  color: red;
}

.changePasswordBtn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.changePasswordBtn.changeBtn {
  background-color: #263392;
  color: white;
}

.changePasswordBtn.cancleBtn {
  background-color: white;
  color: black;
}
